.header, .hero, .body, .bar, .footer{
    background-color: #625b62;
    font-size: 50px;
    color: white;
    margin-bottom: 5px;
}
.box{
    min-height: 80px;
    background-color: red;
    margin-bottom: 5px;
}

.teal{
    background-color: teal;
}
